<%- model_class = Test -%>
<div class="page-header">
  <h1><%="Paper Results"%></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Attempt</th>
      <th>Marks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each_with_index do |test,index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%=test.marks%></td>
        <td><%=link_to "Details", test, :class => 'btn btn-default btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>