<ul>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
	<li>Instruction</li>
</ul>
<div class="col-lg-11"> 
	<%= link_to "Start Test", new_paper_answer_path(@paper),:class => "btn btn-default btn-primary pull-right"%>
</div>