<%- model_class = Test -%>
<div class="page-header">
  <h1>Results</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:paper) %></th>
      <th><%= model_class.human_attribute_name(:attempts) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tests.map{|test| test.paper }.uniq.each do |paper| %>
      <tr>
        <td><%= link_to paper.name, results_path(paper) %></td>
        <td><%= paper.user_tests(current_user).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>